<div class="container align-middle">
    <div *ngIf="movie" class="align-middle">
        <div class="col-sm-6">
            <div class="card">
                    <img [src]="movie.Poster" class="img-fluid img-card ">
                <br />
                <div class="card-content">
                    <h4 class="card-title">
                        <a>
                            {{movie.Title}}
                        </a>
                    </h4>
                    <div class="lead">
                        {{movie.Plot}}
                    </div>
                    <br>
                    <div class="card-read-more">
                        <br>
                        Year: {{movie.Year}}<br>
                        Genre: {{movie.Genre}}<br>
                        Country: {{movie.Country}}<br>
                        Awards: {{movie.Awards}}<br>
                        Rating:
                        <rating [(ngModel)]="movie.imdbRating" [max]="10" [readonly]="true">
                        </rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{{movie | json}}</pre>-->
</div>
